{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<title>Quiz Application</title>
	<link rel = "stylesheet" href = "{% static 'css/quiz.css' %}">
	<script src = "{% static 'js/quiz.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div id = "container">
		<header>
			<h1>Quizz</h1>
		</header>
        <div style="padding-left: 30px;">
			{% for pergunta in perguntas %}
			<table>
				<tr>
					<td>{{pergunta.id}} ) {{pergunta.question}} ?</td>
				</tr>
				<tr>
					<td><input type="radio" id="alternativa1" class="res" name="{{pergunta.id}}" value="{{pergunta.alternativa1}}">{{pergunta.alternativa1}}</td>
				</tr>
				<tr>
					<td><input type="radio" id="alternativa2" class="res" name="{{pergunta.id}}" value="{{pergunta.alternativa2}}">{{pergunta.alternativa2}}</td>
				</tr>
				<tr>
					<td><input type="radio" id="alternativa3" class="res" name="{{pergunta.id}}" value="{{pergunta.alternativa3}}">{{pergunta.alternativa3}}</td>
				</tr>
				<tr>
					<td><input type="radio" id="alternativa4" class="res" name="{{pergunta.id}}" value="{{pergunta.alternativa4}}">{{pergunta.alternativa4}}</td>
				</tr>
				<tr>
					<td><label id="resposta" class="res" style="display: none; color: green;">{{pergunta.resposta}}</label></td>
				</tr>
			</table>
			{% endfor %}
			<input type="submit" value="Terminar" id="but1" onclick="getRespostas();"/>
			<b id="Respostas"></b>
		</div>
	</div>

</body>
<script>
	$(documento).ready(function(){
		$("#but1").click(function(){
			$(".res").show();
			$(".res").attr("disabled", true);
		});
	});

	function getRespostas(){
		document.getElementById(Respostas).innerHTML="";
		var e = document.getElementByName("input");
		 for(i=0; i < e.length; i++){
		 	if(e[i].type=="radio"){
		 		if(e[i].checked){
		 			document.getElementById(Respostas).innerHTML+="Q" + e[i].name + " A resposta que você selecionou é :" + e[i].value + "<br/>";

		 		}
		 	}
		 }
	}
</script>
</html>